# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserstate
*.moved-aside
*.hmap

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.pins
Package.resolved

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# Logs
app.log
app.log.*
*.log

# Secrets
*.pem
.env
/env.py
Backend/.env
